#page-header{
   background-color: #256EFF;
   padding: .5em;
   line-height: 1.4;
}

.navbar.navbar-default {
	margin-bottom: 0;
  border-bottom: 0;
}

hr {
  height: 16px;
  width: 100%;
  background-image: url(https://playfulmit.github.io/beyond-rubrics/img/HR.svg);
}
